meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Mantenimiento en máquinas de confección.
meta(meta name="description" content="Describir las piezas y mecanismos que conforman las máquinas y su funcionamiento. Identificar el tipo de puntada de cada máquina según las Normas Internacionales de Estandarización ISO 4915, así mismo los diferentes tipos de costuras bajo la norma ISO 4916. Diagnosticar fallas que afectan la calidad de la costura y establecer la importancia de mantenimientos autónomos y necesidades de capacitación. Seleccionar la solución adecuada según la falla presentada en la costura, de acuerdo con el nivel de problema presentado. Integrar la importancia del plan de mantenimiento en los objetivos de mejora continua de la empresa.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")