h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 290601231–04 - Efectuar actividades de mantenimiento en máquinas de confección según necesidades de la línea de producción.


