.container#introduccion
    .header-ecored
        h1 Introducción
    img.img-a(src="assets/images/pages/ilustraciones/img1.jpg", alt="").img-fluid
    .caja-azul.shadow
        p Los instrumentos más importantes para la confección industrial son las máquinas de coser, conocer sus partes, el mantenimiento y cuidado que requieren permitirá un buen funcionamiento y así mismo una adecuada ejecución de la producción. 
        p Con el estudio de este material usted podrá identificar y describir las piezas que conforman una máquina industrial, así como diagnosticar las fallas que se pueden presentar durante la producción, y su posible solución; de forma que como supervisor planee el tipo y frecuencia de mantenimientos necesarios como instrumento de mejora continua que le permitan cumplir con los objetivos de producción,  no solo en términos de tiempo, sino bajo los lineamientos de las normas de estandarización ISO 4915 e ISO 4916.