.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

                tr
                    td American & Efrird, Inc. (2009) Stich Type Matrix Spanish. 
                    td WEB
                    td 
                        a(href="http://www.amefird.com/wp-content/uploads/2009/10/Stitch-Type-Matrix-Spanish.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Arrieta Posada, J. G. (2007). Interacción y conexiones entre las técnicas 5s, SMED y Poka Yoke en procesos de mejoramiento continua
                    td PDF
                    td 
                        a(href="media/documentos/Interaccion_conexiones_entre_tecnicas_5S_SMED_POKAYOKE_procesos.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Barretto. (s.f.) Técnicas de indumentaria I -Puntadas y pespuntes. Facultad de arquitectura, diseño y urbanismo. Argentina.
                    td Web
                    td 
                        a(href="http://cursos.fadu.uba.ar/apuntes/Indumentaria%20I/unidad%20teorica%20n%204/18%20-tecnologia%20del%20sector%20costura%201%20Puntadas%20y%20pespuntes.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td Carvajal, F. (2012) Manual Técnico. 
                    td PDF
                    td 
                        a(href="media/documentos/Manual_mecanico.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td CIDEP (2012) Manual de Corte y Confección.
                    td PDF 
                    td 
                        a(href="media/documentos/Manual_Corte_y_Confeccion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Espin, F. (2013). Técnica SMED Reducción del tiempo preparación. 3Ciencias. 
                    td PDF 
                    td 
                        a(href="https://www.3ciencias.com/wp-content/uploads/2013/05/TECNICA-SMED.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver
                tr
                    td González, A. et al (2015, marzo 11- 13) Importancia del Mantenimiento Autónomo en las Pymes. Academia Journals, Villahermosa, Tabasco, México.  
                    td PDF 
                    td 
                        a(href="media/documentos/Importancia_mantenimiento_autonomo_pymes.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td SENA (s.f.) Confecciones industriales. Mantenimiento en la industria de la confección (problemas técnicos y soluciones) 
                    td PDF
                    td 
                        a(href="media/documentos/Confecciones_industriales_Mantenimiento_industria_confeccion.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td SENA (1982), Las puntadas.  
                    td PDF
                    td 
                        a(href="media/documentos/Las_puntadas.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Suescún, H, (2018). Todo lo que necesitas saber de un Looper (Fileteadora) | Pegasus M752 | Profe Suescún | 4K
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=SzeE12fBwJE", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Suescún, H. (2018) Cómo graduar la Altura de Barra de Aguja | Máquina Plana 
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=_LAavWB-YHE&t=45s", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Suescún, H. (2018) Cómo Sincronizar (Ajustar) el tiempo del Gancho | Máquina Plana 
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=-8zMCiP34oQ&t=93s", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Suescún, H. (2018).  Cómo ajustar el Ciclo de Dientes (Excéntrico) | Máquina Plana 
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=GgEl7BeYDIw", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Suescún, H. (2019). Especificaciones y Sincronización | Collarín Pegasus W562
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=zMN6ORS54J8", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Suescún, H. (2020). ¿Cómo cambiar y graduar el botón de dial de puntada? 
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=4RkqeVzICOw", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Villegas, O., et al (2018, octubre 24 -26). Como el mantenimiento productivo total (TPM) te ayuda a mejorar la productividad. Congreso Internacional de Investigación Academia Journals. Los Mochis, Sinaloa, México.
                    td PDF
                    td 
                        a(href="media/documentos/Como_el_mantenimiento_productivo_total_(TPM)_ayuda_mejorar_productividad.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver