include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Alfaomega (2009). Mantenimiento, planeación, ejecución y control.", "https://www-alfaomegacloud-com.bdigital.sena.edu.co/reader/mantenimiento-planeacion-ejecucion-y-control?location=2")
        +referenciaItem("American & Efrird, Inc. (2009) Stich Type Matrix Spanish.", "http://www.amefird.com/wp-content/uploads/2009/10/Stitch-Type-Matrix-Spanish.pdf")
        +referenciaItem("Arrieta Posada, J. G. (2007). Interacción y conexiones entre las técnicas 5s, SMED y Poka Yoke en procesos de mejoramiento continuo. Tecnura, 10(20), 139-148.", "https://doi.org/10.14483/22487638.6255")
        +referenciaItem("Barretto. (s.f.) Técnicas de indumentaria I -Puntadas y pespuntes. Facultad de arquitectura, diseño y urbanismo. Argentina.", "http://cursos.fadu.uba.ar/apuntes/Indumentaria%20I/unidad%20teorica%20n%204/18%20-tecnologia%20del%20sector%20costura%201%20Puntadas%20y%20pespuntes.pdf")
        +referenciaItem("Carvajal, F. (2012) Manual Técnico.")
        +referenciaItem("CIDEP (2012) Manual de Corte y Confección.")
        +referenciaItem("Espin, F. (2013). Técnica SMED Reducción del tiempo preparación. 3Ciencias.", "https://www.3ciencias.com/wp-content/uploads/2013/05/TECNICA-SMED.pdf")
        +referenciaItem("Rápida Suministros Industriales, (s.f.) Recambios y accesorios", "http://www.rapida.com/otros-guantes-alfileres-pesas.html")
        +referenciaItem("SENA (1982), Las puntadas.", "https://hdl.handle.net/11404/3998")
        +referenciaItem("Villegas, O., et al (2018, octubre 24 -26). Como el mantenimiento productivo total (TPM) te ayuda a mejorar la productividad. Congreso Internacional de Investigación Academia Journals. Los Mochis, Sinaloa, México.")
        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            